body{
    background-color: rgb(0, 0, 0);
}

h1{
    color: rgb(169, 247, 52);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    overflow: auto;
}

footer{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: antiquewhite;
    margin-top: 50px;
}

img{
    display: block;
    margin-top: 10px;
    height: 600px;
    width: 300px;
  
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
  }

button{
    border-radius: 50px;
    height: 50px;
    color: rgb(130, 234, 40);
    background:rgb(96, 139, 84);
}

button:active{
    background:rgb(188, 201, 53);
}
